<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>invenTI - Inventario TI - FelipheGomez</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.2.1/vue-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.js"></script>
		<link href="dist/bootstrap/4.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <style>
        .logo {
          width: 50px;
          float: left;
          margin-right: 15px;
        }

        .form-group {
          max-width: 500px;
        }

        .actions {
          padding: 10px 0;
        }

        .glyphicon-euro {
          font-size: 12px;
        }
        </style>
    </head>
<body>

<div class="" id="app"><div class=""></div></div>

<template id="post-list">
  <div>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-secondary">
            <form class="navbar-nav mr-auto form-inline">
                <input v-model="searchKey" class="form-control" id="search-element" requred/>
            </form>  
            <ul class="navbar-nav mt-2 mt-md-0">
              <router-link tag="li" class="nav-item" v-bind:to="{path: '/add-post'}">
              <a class="nav-link btn btn-success btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Nuevo
              </a>
              </router-link>
            </ul>
        </nav>
      <div class="container">
        <div class="actions">
        </div>
        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Localizacion</th>
            <th>Area</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="posts===null">
            <td colspan="4">Cargando...</td>
          </tr>
          <tr v-else v-for="post in filteredposts">
            <td><router-link v-bind:to="{name: 'post', params: {post_id: post.id}}">{{ post.id }}</router-link></td>
            <td>{{ post.category_id.name }}</td>
            <td>{{ post.location_id.name }}</td>
            <td>{{ post.area_id.name }}</td>
            <td>
                <router-link class="btn btn-default btn-xs" v-bind:to="{name: 'post-edit', params: {post_id: post.id}}">
                    <span class="glyphicon glyphicon-pencil"></span> Modificar
                </router-link>
            </td>
            <td>
                <router-link class="btn btn-info btn-xs" v-bind:to="{name: 'post-edit', params: {post_id: post.id}}">
                    <span class="glyphicon glyphicon-barcode"></span> Barcode
                </router-link>
            </td>
            <td>
                <router-link class="btn btn-danger btn-xs" v-bind:to="{name: 'post-delete', params: {post_id: post.id}}">
                    <span class="glyphicon glyphicon-trash"></span> Eliminar
                </router-link>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</template>

<template id="add-post">
  <div>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-secondary">
            <form class="navbar-nav mr-auto form-inline">
				<label>Nuevo Articulo</label>
            </form>
            <ul class="navbar-nav mt-2 mt-md-0">
				<router-link tag="li" class="nav-item" v-bind:to="{path: '/'}">
					<a class="nav-link btn btn-info btn-sm">
						<span class="glyphicon glyphicon-hand-left"></span>
						Regresar
					</a>
				</router-link>
            </ul>
        </nav>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h4>Informacion basica: </h4>
					<hr>
					<form v-on:submit="createpost">
						<div class="form-group">
							<label for="edit-content">¿Donde Esta?: </label>
							<select v-model="post.location_id" class="form-control" required="required">
								<option v-for="option in optionsLocations" v-bind:value="option.id">{{ option.name }}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="edit-content">¿Donde Pertenece?: </label>
							<select v-model="post.area_id" class="form-control" required="required">
								<option v-for="option in optionsAreas" v-bind:value="option.id">{{ option.name }}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="edit-content">Categoria: </label>
							<select v-model="post.category_id" class="form-control" required="required">
								<option v-for="option in optionsCategories" v-bind:value="option.id">{{ option.name }}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="add-content">Descripcion</label>
							<textarea class="form-control" id="add-content" rows="5" v-model="post.content" required="required"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Crear</button>
						<router-link class="btn btn-default" v-bind:to="'/'">Cancelar</router-link>
					</form>
				</div>
			</div>
		</div>
  </div>
</template>

<template id="post">
    <div>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-secondary">
            <form class="navbar-nav mr-auto form-inline">
				<label>Ver Articulo</label>
            </form>  
            <ul class="navbar-nav mt-2 mt-md-0">
				<router-link tag="li" class="nav-item" v-bind:to="{path: '/'}">
					<a class="nav-link btn btn-info btn-sm">
						<span class="glyphicon glyphicon-hand-left"></span> <!-- glyphicon glyphicon-arrow-left -->
						Regresar
					</a>
				</router-link>
            </ul>
        </nav>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h4>Informacion basica: </h4>
					<hr>
					<div class="form-group">
						<label for="edit-content">¿Donde Esta?: </label>
						<select class="form-control" required="required" readonly="readonly">
							<option>{{ post.location_id.name }}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="edit-content">¿Donde Pertenece?: </label>
						<select class="form-control" required="required" readonly="readonly">
							<option>{{ post.area_id.name }}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="edit-content">Categoria: </label>
						<select class="form-control" required="required" readonly="readonly">
							<option>{{ post.category_id.name }}</option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="add-content">Descripcion</label>
						<textarea class="form-control" rows="5" required="required" readonly="readonly">{{ post.content }}</textarea>
					</div>
				</div>
				<div class="col-sm-6">
					<h2>Componentes y Seriales: </h2>
					<table class="table">
						<tr v-for="serial in post.serials">
							<td>{{ serial.name }}</td>
							<td>{{ serial.serial }}</td>
						</tr>
					</table>
					<hr>
					<h2>Revisiones: </h2>
					<table class="table">
						<tr v-for="comment in post.comments">
							<td>{{ comment.message }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
    </div>
</template>

<template id="post-edit">
  <div>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-secondary">
            <form class="navbar-nav mr-auto form-inline">
            </form>  
            <ul class="navbar-nav mt-2 mt-md-0">
				<router-link tag="li" class="nav-item" v-bind:to="{path: '/'}">
					<a class="nav-link btn btn-info btn-sm">
						<span class="glyphicon glyphicon-hand-left"></span>
						Regresar
					</a>
				</router-link>
            </ul>
        </nav>
        <div class="container">
            <h2>Editar Articulo</h2>
			<div class="row">
				<div class="col-sm-6">
					<h4>Informacion basica: </h4>
					<hr>
                    <form v-on:submit="updatepost">
						<div class="form-group">
							<label for="edit-content">¿Donde Esta?: </label>
							<select v-model="selectedLocation" class="form-control" required="required">
								<option v-for="option in optionsLocations" v-bind:value="option.id">{{ option.name }}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="edit-content">¿Donde Pertenece?: </label>
							<select v-model="selectedArea" class="form-control" required="required">
								<option v-for="option in optionsAreas" v-bind:value="option.id">{{ option.name }}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="edit-content">Categoria: </label>
							<select v-model="selectedCategory" class="form-control" required="required">
								<option v-for="option in optionsCategories" v-bind:value="option.id">{{ option.name }}</option>
							</select>
						</div>
						
						<div class="form-group">
							<label for="add-content">Descripcion</label>
							<textarea class="form-control" rows="5" required="required" v-model="post.content"></textarea>
						</div>
						<div class="form-group">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                            <router-link class="btn btn-default" v-bind:to="'/'"><span class="glyphicon glyphicon-remove"></span> Cancel</router-link>
						</div>
                    </form>
				</div>
				<div class="col-sm-6">
					<h4>Seriales: <a class="btn btn-default btn-xs" @click="showSerial"> <span class="glyphicon glyphicon-plus"></span> </a> <a @click="hideSerial" class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-minus"></span> </a> </h4>
                    <hr>
                    <div class="row" id="serialNew-pop" style="display:none;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Nombre: </label>
                                <input type="text" v-model="serialNew.name" class="form-control" required="required" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Total: </label>
                                <input type="number" v-model="serialNew.total" class="form-control" required="required" step="1" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Identificador (S/N): </label>
                                <input type="text" v-model="serialNew.serial" class="form-control" required="required" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Notas: </label>
                                <textarea class="form-control" rows="3" v-model="serialNew.notes" required="required"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" @click="createSerial">Crear</button>
                    </div>
                    <div class="row" id="serialEdit-pop" style="display:none;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>ID: </label>
                                <input type="text" v-model="serialEdit.id" class="form-control" required="required" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Nombre: </label>
                                <input type="text" v-model="serialEdit.name" class="form-control" required="required" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Total: </label>
                                <input type="number" v-model="serialEdit.total" class="form-control" required="required" step="1" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Identificador (S/N): </label>
                                <input type="text" v-model="serialEdit.serial" class="form-control" required="required" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Notas: </label>
                                <textarea class="form-control" rows="3" v-model="serialEdit.notes" required="required"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-primary" @click="changeSerial">Modificar</button>
                        <button class="btn btn-default" @click="hideSerialEdit">Cancelar</button>
                    </div>
					<table class="table">
                            <tr v-for="serial in post.serials">
                                <td><a class="btn btn-danger btn-xs" @click="removeSerial(serial.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
                                <td>{{ serial.name }}</td>
                                <td>{{ serial.serial }}</td>
                                <td>{{ serial.total }}</td>
                                <td>{{ serial.notes }}</td>
                                <td><a class="btn btn-warning btn-xs" @click="editSerial(serial.id)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>
					</table>
				</div>
                <div class="col-sm-12">
                    <h4>Revisiones: <a class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-plus"></span> </a> </h4>
                    <table class="table">
                        <tr v-for="comment in post.comments">
                            <td>{{ comment.message }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
  </div>
</template>

<template id="post-delete">
  <div>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-secondary">
            <form class="navbar-nav mr-auto form-inline">
            </form>  
            <ul class="navbar-nav mt-2 mt-md-0">
				<router-link tag="li" class="nav-item" v-bind:to="{path: '/'}">
					<a class="nav-link btn btn-info btn-sm">
						<span class="glyphicon glyphicon-hand-left"></span>
						Regresar
					</a>
				</router-link>
            </ul>
        </nav>
      <div class="container">
        <h2>Delete article {{ post.id }}</h2>
        <form v-on:submit="deletepost">
          <p>The action cannot be undone.</p>
          <button type="submit" class="btn btn-danger">Delete</button>
          <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
        </form>
      </div>
  </div>
</template>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="dist/bootstrap/4.1.3/dist/js/bootstrap.min.js"></script>

<script>
var posts = null;

var api = axios.create({
  baseURL: location.pathname + 'api/api.php/records'
});

function findpost (postId) {
	if(posts==null){ return { id: 0, category_id: 0, location_id: 0, area_id: 0, content: '' }; }
	return posts[findpostKey(postId)];
};

function findpostKey (postId) {
	if(posts==null){ return 0; }
		
	for (var key = 0; key < posts.length; key++) {
		if (posts[key].id == postId) {
			return key;
		}
	}
};

var List = Vue.extend({
  template: '#post-list',
  data: function () {
    return {
        posts: posts,
        searchKey: this.$parent.searchKey
    };
  },
  mounted: function () {
    var self = this;
    
    api.get('/articles?join=categories&join=areas&join=locations&join=comments&join=serials', {
        params: {
            
        }
    }).then(function (response) {
        posts = self.posts = response.data.records;
    }).catch(function (error) {
        console.log(error);
    });
  },
  computed: {
    filteredposts: function () {
      return this.posts.filter(function (post) {
        return this.searchKey=='' || post.content.indexOf(this.searchKey) !== -1;
      },this);
    }
  }
});

var post = Vue.extend({
	template: '#post',
	data: function () {
		return {post: findpost(this.$route.params.post_id)};
	},
    created(){
        var self = this;
		pot = findpost(this.$route.params.post_id);
		
		if(pot.id == undefined){ self.$parent.loadBasicList(); }
		if(pot.id == 0){
			router.push('/');
		}
    },
    mounted(){
        var self = this;
    }
});

var postEdit = Vue.extend({
	template: '#post-edit',
	data: function () {
		return {
			post: findpost(this.$route.params.post_id),
			selectedLocation: '',
			selectedArea: '',
			selectedCategory: '',
			optionsLocations: this.$parent.locations,
			optionsAreas: this.$parent.areas,
			optionsCategories: this.$parent.categories,
            serialNew: {
                name: '',
                total: 0,
                serial: '',
                notes: ''
            },
            serialEdit: {
                id: 0,
                name: '',
                total: 0,
                serial: '',
                notes: ''
            }
		};
	},
    created(){
        var self = this;
        self.selectedCategory = self.post.category_id.id;
        self.selectedLocation = self.post.location_id.id;
        self.selectedArea = self.post.area_id.id;
		
		if(self.post.id == 0){
			router.push('/');
		}
    },
	methods: {
        editSerial: function(idSerial){
            var self = this;
            
            api.get('/serials/' + idSerial).then(function (response) {
                self.showSerialEdit();
                self.serialEdit = response.data
            }).catch(function (error) {
                console.log(error);
            });
        },
        changeSerial: function(){
            var self = this;
			
			api.put('/serials/' + self.serialEdit.id, self.serialEdit).then(function (response) {
				console.log(response.data);
                router.push('/post/' + self.post.id);
                router.push('/');
                self.hideSerialEdit();
			}).catch(function (error) {
				console.log(error);
			});
        },
        removeSerial: function(idSerial){
            var self = this;
            
            api.delete('/serials/' + idSerial).then(function (response) {
                router.push('/');
            }).catch(function (error) {
                console.log(error);
            });
        },
        clearSerials: function(){
			var self = this;
            self.serialNew = {
                name: '',
                total: 0,
                serial: '',
                notes: ''
            };
        },
		createSerial: function() {
			var self = this;
            
            var serial = {
                article_id: self.post.id,
                name: self.serialNew.name,
                total: self.serialNew.total,
                serial: self.serialNew.serial,
                notes: self.serialNew.notes
            };
            
			api.post('/serials',serial).then(function (response) {
				serialId = response.data;
				console.log(response.data);
                
                console.log(serialId);
                
                api.get('/serials/' + serialId).then(function (response) {
                    //self.post.serials.push(response.data);
                    self.post.serials.push(response.data);
                    console.log('serials Cargadas');
                    self.clearSerials();
                    self.hideSerial();
                }).catch(function (error) {
                    console.log(error);
                });
			}).catch(function (error) {
				console.log(error);
			});
		},
		updatepost: function () {
			var item = {
				id: this.post.id,
				category_id: this.selectedCategory,
				location_id: this.selectedLocation,
				area_id: this.selectedArea,
				content: this.post.content,
			};
			
			api.put('/articles/'+item.id,item).then(function (response) {
				console.log(response.data);
			}).catch(function (error) {
				console.log(error);
			});
			router.push('/');
		},
        hideSerial(){
            jQuery("#serialNew-pop").css('display', 'none');
        },
        showSerial(){
            jQuery("#serialNew-pop").css('display', 'block');
        },
        hideSerialEdit(){
            jQuery("#serialEdit-pop").css('display', 'none');
        },
        showSerialEdit(){
            jQuery("#serialEdit-pop").css('display', 'block');
        }
	}
});

var postDelete = Vue.extend({
  template: '#post-delete',
  data: function () {
    return {post: findpost(this.$route.params.post_id)};
  },
  methods: {
    deletepost: function () {
		var post = this.post;
		api.delete('/articles/'+post.id).then(function (response) {
			console.log(response.data);
			router.push('/');
		}).catch(function (error) {
			console.log(error);
		});  
    }
  }
});

var Addpost = Vue.extend({
	template: '#add-post',
	data: function () {
		return {
			optionsLocations: this.$parent.locations,
			optionsAreas: this.$parent.areas,
			optionsCategories: this.$parent.categories,
			post: {
				content: '', 
				category_id: 0,
				area_id: 0,
				location_id: 0,
			}
		}
	},
	methods: {
		createpost: function() {
			var post = this.post;
			api.post('/articles',post).then(function (response) {
				post.id = response.data;
				console.log(post.id);
				router.push('/')
			}).catch(function (error) {
				console.log(error);
			});
		}
	},
    created(){
        var self = this;
		if(self.$parent.locations == null || self.$parent.areas == null || self.$parent.categories == null){ 
			router.push('/');
		}else{
			self.optionsLocations = self.$parent.locations;
			self.optionsAreas = self.$parent.areas;
			self.optionsCategories = self.$parent.categories;
		}
    },
    mounted(){
        var self = this;
    }
});

var router = new VueRouter({routes:[
  { path: '/', component: List},
  { path: '/post/:post_id', component: post, name: 'post'},
  { path: '/add-post', component: Addpost},
  { path: '/post/:post_id/edit', component: postEdit, name: 'post-edit'},
  { path: '/post/:post_id/delete', component: postDelete, name: 'post-delete'}
]});
app = new Vue({
    el: "#app",
    data: {
        posts: null,
        categories: null,
        locations: null,
        areas: null,
        searchKey: ''
    },
	components: {
        'List': List
	},
    router:router,
    methods: {
		loadBasicList: function(){
			var self = this;
			api.get('/categories').then(function (response) {
				self.categories = response.data.records;
				console.log('Categorias Cargadas');
			}).catch(function (error) {
				console.log(error);
			});
			
			api.get('/locations').then(function (response) {
				self.locations = response.data.records;
				console.log('Sedes Cargadas');
			}).catch(function (error) {
				console.log(error);
			});
			api.get('/areas').then(function (response) {
				self.areas = response.data.records;
				console.log('Areas Cargadas');
			}).catch(function (error) {
				console.log(error);
			});
		} 
    },
    created() {
        var self = this;
    },
    mounted() {
        var self = this;
		self.loadBasicList();
    },
    template: `
    <main class="container_not">
        <router-view></router-view>
    </main>
    `
})
</script>

</body>
</html>
